<div class="container pt-50">
  <button
    class="radius-sm bg-white shadow-sm flex-x-center py-10 px-40 cursor-pointer"
    [routerLink]="['/']"
  >
    <span class="material-icons s15-h17 mr-10"> west </span>
    Back
  </button>
  <div class="row align-items-center mt-50">
    <div class="size-md-6">
      <div class="column-wrapper">
        <img class="w-100" src="https://flagcdn.com/w320/ba.png" alt="" />
      </div>
    </div>

    <div class="size-md-6">
      <div class="column-wrapper">
        <h6 class="mb-10 s22-h27 text-weight-bolder">Germany</h6>
      </div>
    </div>
  </div>
</div>
