.dark-theme {
  background: var(--dark-theme);
}
.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}
.text-white {
  color: var(--white);
}
.text-dark {
  color: var(--dark);
}
.text-grey {
  color: var(--grey);
}
.text-black {
  color: var(--black);
}
