<div class="container pt-50">
  <!-- <div class="mb-40">
    <h6 class="text-weight-700 s17-h23">Visited Countries</h6>
    <div class="overflow-auto hide-scrollbar flex-x-center py-10">
      <div
        class="visited radius-sm shadow-sm flex-x-center mr-5 p-4 bg-white cursor-pointer"
        *ngFor="let country of countries.slice(0, 15)"
      >
        <img [src]="country?.flags?.svg" [alt]="country?.name?.official" />
        <p class="s12-h17 text-grey pl-3">
          {{ country?.name?.official }}
        </p>
      </div>
    </div>
  </div> -->
  <div class="flex-x-between mb-30 flex-wrap">
    <div class="mb-10 mb-md-0 w-100-sm">
      <input
        type="text"
        class="search"
        [formControl]="searchControl"
        placeholder="Search for a country"
      />
    </div>
    <div class="dropdown">
      <div
        class="shadow-sm radius-sm flex-x-between selected cursor-pointer"
        (click)="shodwDropdown = !shodwDropdown"
      >
        <span class="pr-4">{{
          !selectedRegion || selectedRegion === 'All'
            ? 'Search By Region'
            : selectedRegion
        }}</span>
        <span class="material-icons text-grey"> arrow_drop_down </span>
      </div>
      <ul class="shadow-sm bg-white radius-sm" *ngIf="shodwDropdown">
        <li
          class="cursor-pointer p-5 hover-grey"
          *ngFor="let region of regions"
          (click)="searchByRegion(region)"
        >
          {{ region }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div
      class="size-md-3 cursor-pointer"
      *ngFor="
        let country of countries
          | paginate: { itemsPerPage: 32, currentPage: this.currentPage };
        let i = index
      "
      (click)="openDetail(country.name.official)"
    >
      <div class="column-wrapper">
        <div
          class="country-card"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
        >
          <div class="flag">
            <img [src]="country?.flags?.svg" [alt]="country?.name?.official" />
          </div>
          <div class="details">
            <h6 class="mb-10 s18-h24">{{ country?.name?.official }}</h6>
            <p class="mb-5">
              Population: <span>{{ country?.population | withcoma }}</span>
            </p>
            <p class="mb-5">
              Region: <span>{{ country?.region }}</span>
            </p>
            <p>
              Capital: <span>{{ country?.capital?.slice(0) }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex justify-content-center mb-30"
    *ngIf="!loading && countries.length > 0"
  >
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>

  <app-shimmer
    *ngIf="loading && countries.length === 0"
    [loaderType]="loaderType"
  ></app-shimmer>
</div>
